<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Leitura @ Udacity - React Nanodegree</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/navbar-top.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
        <a class="navbar-brand" href="#">Leitura</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Categorias</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown03">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <button class="btn btn-outline-primary my-2 my-sm-0">Nova Postagem</button>
                <button class="btn btn-outline-info my-2 my-sm-0">Editar Postagem</button>                
            </form>
        </div>
    </nav>

    <main role="main" class="container">
        <div class="row">
            <h1>Título do meu Post</h1>
        </div>
        <fieldset>
            <div class="row">
                <p>Por
                    <a href="#">João da Silva</a> em 19/12/2017</p>
            </div>

            <div class="row">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a nibh ac libero pharetra scelerisque nec id eros. Vestibulum
                    ut tempor nunc, sed malesuada neque. Aenean ut mi posuere, placerat est commodo, euismod sapien. Proin
                    mauris neque, laoreet nec ultricies id, dictum et est. Duis molestie velit eu volutpat sagittis. Nullam
                    ante felis, posuere at eros at, gravida efficitur lacus. Pellentesque at arcu euismod, gravida arcu vitae,
                    accumsan nisi. Fusce sagittis volutpat metus vitae sagittis.
                </p>
            </div>


            <div class="row">
                <p>Total de votos:
                    <b>537</b>
                </p>
            </div>

        </fieldset>
    </main>






    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>