<form class="form-horizontal">
    <fieldset>

        <legend>Form Name</legend>

        <div class="form-group">
            <label class="col-md-4 control-label" for="titulo">Título</label>
            <div class="col-md-5">
                <input id="titulo" name="titulo" type="text" placeholder="Meu post" class="form-control input-md">

            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="corpo">Corpo</label>
            <div class="col-md-4">
                <textarea class="form-control" id="corpo" name="corpo"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="data">Data de Criação</label>
            <div class="col-md-4">
                <input id="data" name="data" type="text" placeholder="10/12/2017" class="form-control input-md">

            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="autor">Autor</label>
            <div class="col-md-4">
                <input id="autor" name="autor" type="text" placeholder="João da Silva" class="form-control input-md">

            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="votos">Votos</label>
            <div class="col-md-2">
                <input id="votos" name="votos" type="text" placeholder="371" class="form-control input-md">

            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="criar"></label>
            <div class="col-md-4">
                <button id="criar" name="criar" class="btn btn-primary">Criar</button>
            </div>
        </div>

    </fieldset>
</form>